<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>List Member Page</title>
</head>
<body>
    <div layout:fragment="content">
      <div class="panel-heading">
        List Member Page
      </div>
      <div class="panel-body">
        list content
      </div>
    </div>
<th:block layout:fragment="script"></th:block>
<script th:inline="javascript"></script>
</body>
</html>